body {
  padding: 0;
  margin: 0;
  font-family: 'Krona One', sans-serif;
}
canvas {
  vertical-align: top;
}

.header {
  position: absolute;
  top: 60%;
  left: 25%;
  transform: translate(-50%, -50%);
}

.header h1 {
  font-size: 80px;
  text-transform: uppercase;
  margin: 0;
  mix-blend-mode: overlay;
}

.header-1 .letter {
  display: inline-block;
  line-height: 1em;
}
.header-2 .letter {
  display: inline-block;
  line-height: 1em;
}

/* hero-container */

.sidebar-text {
  position: absolute;
  top: 10%;
  right: 7%;
  transform: translate(-50%, -50%);
  font-size: 40px;
  color: transparent;
  font-weight: 900;
  letter-spacing: 1.5px;
  -webkit-text-stroke: 1.5px rgb(255, 255, 255);
}

.projects {
  position: absolute;
  bottom: 10%;
  left: 20%;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
  text-decoration: underline;
}

.img-nav {
  position: absolute;
  right: 13%;
  bottom: 13%;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
  color: rgb(0, 0, 0);
}

.next {
  position: relative;
  top: 40px;
  left: 80px;
}

@media (max-width: 900px) {
  .header {
    width: 100%;
    top: 50%;
    left: 50%;
    text-align: center;
  }
  .header h1 {
    font-size: 35px;
  }
  .projects {
    bottom: 0%;
    left: 40%;
  }

  .img-nav {
    right: 13%;
    bottom: 13%;
  }

  .next {
    position: relative;
    top: 20px;
    left: 30px;
  }

  .sidebar-text {

    -webkit-text-stroke: 1px rgb(255, 255, 255);
  }
}
